.booking_information_table {
    :global {
        .ant-table-thead > tr > th,
        .ant-table-tbody > tr > td {
            padding: 0 0 !important;
            overflow-wrap: break-word;
            font-size: 14px;
            white-space: break-spaces;
        }

        table, td, th {
            border: 1px solid #ddd;
            text-align: center !important;
        }

 }
}