@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/* *{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
} */
.btn{
    background-color: transparent;
    padding: 15px 30px;
    border: 2px solid #EAA023;
    border-radius: 50px;
    color: #EAA023;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: antiquewhite;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.section-pading{
    padding: 80px 0;
}
.justify-content{
    justify-content: space-between;
}
.container{
    margin: auto;
    max-width: 1200px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row1{
    display: flex;
    flex-wrap: wrap;
}
.top{
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 99;
}
.top::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #191F3A;
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.3s ease;
}
.top.active::before{
    transform: translateY(0);
}
.top .logo img{
    width: 80px;
}
.top .menu-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.top .menu-bar.active{
    position: fixed;
    top: 30px;
    right: 0;
    transform: translateX(-200px);
    z-index: 1;
}
.top .menu-bar span{
    display: block;
    height: 2px;
    width: 40px;
    background-color: #EAA023;
    position: relative;
}
.top .menu-bar.active span{
    background-color: transparent;
}
.top .menu-bar.active span::before{
    transform: rotate(-135deg);
} 
.top .menu-bar.active span::after{
    transform: rotate(135deg);
} 
.top .menu-bar span::before{
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    transform: translateY(-10px);
    background-color: #EAA023;
    transition: all 0.3 ease;
}
.top .menu-bar span::after{
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    transform: translateY(10px);
    background-color: #EAA023;
    transition: all 0.3 ease;
}
.menu-items{
    position: fixed;
    width: 265px;
    height: 100vh;
    background-color: transparent;
    right: 0;
    top: 0;
    padding: 100px 50px;
    transform: translateX(100%);
    transition: all 0.3s ease;
}
.menu-items.active{
    transform: translateX(0);
}
.menu-items a{
    color: #ffffff;
    line-height: 40px;
    font-size: 25px;
    font-family: 'Roboto', Sans-serif;
}
/* big-image */
.big-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.big-image::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../../../../../public/imageAbout/LogoCTY.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    animation: Inout 5s infinite;
}
@keyframes Inout{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
.big-image::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: -2;
}
.big-image .big-image-content{
    text-align: center;
    max-width: 500px;
}
.big-image .big-image-content h2{
    font-size: 50px;
    color: #ffffff;
    font-family: 'Dancing Script';
}
.big-image .big-image-content p{
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    margin: 15px 0;
    font-family: 'Dancing Script';
}
/* about */
.about{
    background-color:#191F3A;
}
.section-title{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.section-title h2{
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
}
.section-title h2::before{
    content: attr(data-title);
    display: block;
    color: #EAA023;
    font-size: 30px;
    font-family: 'Dancing Script';
}
.about .about-item h2{
    color: #ffffff;
    font-size: 35px;
}
.about .about-item p{
    font-size: 18px;
    margin: 30px 0;
    color: #ffffff;
}
.about .about-item img{
    width: 100%;
    border-radius: 10px;
}
.about-item{
    width: calc(100%/2);
    padding: 15px;
}
.about-item-img{
    position: relative;
}
.about-item-img span{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #191F3A;
    font-family: 'Dancing Script';
    font-weight: 900;
    font-size: 30px;
    transform: translate(-50%,-50%);
}
.about-item-img::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border: 3px solid #EAA023;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    /*top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    animation: xoayVong 5s infinite;
}
@keyframes xoayVong{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
/* menu */ 
.menu{
    background-color:  #0C1023;
}
.menu-title{
    width: 100%;
    text-align: center;
}
.menu-title .menu-button{
    background-color: transparent;
    margin: 15px;
    border:none;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
}
.menu-title .menu-button.active{
    color: #EAA023;
}
.menu-title .menu-button:hover{
    color: #EAA023;
}
.food-items{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    position: relative;
}
.food-items::before{
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    border: 1px dashed #191F3A;
}
.food-items:hover .food-item p{
    color: #EAA023;
}
.food-items:hover .food-price p{
    color: #ffffff;
}
.food-item{
    display: flex;
    align-items: center;
}
.food-item img{
    width: 200px;
    margin-right: 25px;
}
.food-item p{
    color: #ffffff;
    transition: all 0.3s ease-in;
    font-size: 20px;
}
.food-price p{
    color: #EAA023;
    transition: all 0.3s ease-in;
    font-size: 20px;
}
.menu-item-content{
    display: none;
}
.menu-item-content.active{
    display: flex;
    flex-wrap: wrap ;
}
/*------------------Phản hồi------------------*/
.phan-hoi{
    background-color: #191F3A;
}
.phan-hoi-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.phan-hoi-item{
    width: calc(100%/3 - 30px);
    margin: 0 15px;
    border: 2px solid  #0C1023;
    padding: 15px;
    border-radius: 10px;
    /*box-shadow: (0,0,0);*/
}
.phan-hoi-item1{
    width: calc(100% - 30px);
    height: 500px;
    margin: 0 15px;
    margin-left: 150px;
    margin-right: 0px;
    border: 2px solid  #0C1023;
    padding: 15px;
    border-radius: 10px;
    /*box-shadow: (0,0,0);*/
}
.phan-hoi-item:hover img{
    border-color: #EAA023;
}
.phan-hoi-item span{
    color: #ffffff;
}
.phan-hoi-item h2{
    font-size: 20px;
    color: #ffffff;
    padding: 0;
    
}
.phan-hoi-item p{
    color: #ffffff;
    font-size: 18px;
    margin: 20px 0;
}
.phan-hoi-item img{
    width: 150px;
    border-radius: 50%;
    border: 3px solid  #0C1023;
    transition: all 0.5s ease
}
.phan-hoi-item1 img{
    width: 150px;
    margin-right: 0px;
    margin-left: -850px;
    border-radius: 50%;
    border: 3px solid  #0C1023;
    transition: all 0.5s ease
}
.phan-hoi-item1-img1{
    width: 100%;
    margin-right: 1500px;
    margin-left: 0px;
    border-end-end-radius: 0;
    border: 3px solid #EAA023;
    transition: all 0.5s ease
}
    
.phan-hoi-item-content{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.img_product{
    height: 200px;
    width: 200px;
}
.phan-hoi-item-content1{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.phan-hoi-item-star i{
    color: #EAA023;
}
/*----TEAM----*/
.team{
    background-color:  #0C1023;
}
.team-items{
    padding: 15px;
    width: calc(100%/3);
    position: relative;
}
.team-items img{
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.team-items:hover .team-items-text{
    background-color: #EAA023;
    transform: translateY(-50px);
}
.team-items:hover img{
    transform: skewX(2deg);
}
.team-items-text{
    position: absolute;
    padding: 15px 0;
    right: 30px;
    left: 30px;
    bottom: 0;
    background-color: #191F3A;
    text-align: center;
    border-radius: 10px;
    transform: translateY(50%);
    transition: all 0.5s ease;
}
.team-items-text h2{
    color: #ffffff;
}
.team-items-text span{
    color: #ffffff;
}
/*----Footer----*/
.footer{
    padding-top: 80px;
    position: relative;
}
.footer-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../image/Footer.jpg");
    z-index: -2;
}
.footer::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    opacity: 0.4;
    z-index: -1;
}
.footer-item{
    text-align: center;
    width: calc(100%/3);
}
.footer-item i{
    color: #ffffff;
    font-size: 25px;
    margin-right: 12px;
    cursor: pointer;
    transition: #EAA023;
}
.footer-item i:hover{
    color: #EAA023;
}
.footer h2{
    color: #ffffff;
    font-size: 20px;
}
.footer p{
    color: #ffffff;
    margin: 12px 0;
}
.footer-copyright{
    text-align: center;
    padding: 50px 0 12px;
    color: #fff;
    margin-top: 20px;
    border-top: 2px solid  #0C1023;
}