@import url('https://fonts.googleapis.com/css?family=Roboto');
  /* Set dropdown font-families */
.ql-container.ql-snow {
    min-height: 450px;
    min-width: 1039px
}

.ql-editor.ql-blank {
    min-height: 450px;
    min-width: 1039px
}


  
  .app .ql-editor {
    font-family: "Ubuntu";
  }
  
  /* Set dropdown font-families */
  
  .ql-picker.ql-font .ql-picker-label[data-value="Ubuntu"]::before, 
  .ql-picker.ql-font .ql-picker-item[data-value="Ubuntu"]::before
  {
      font-family: "Ubuntu", cursive;
      content: "Ubuntu";
  }
  .ql-picker.ql-font .ql-picker-label[data-value="Raleway"]::before, 
  .ql-picker.ql-font .ql-picker-item[data-value="Raleway"]::before
  {
      font-family: "Raleway", cursive;
      content: "Raleway";
  }
  .ql-picker.ql-font .ql-picker-label[data-value="Roboto"]::before, 
  .ql-picker.ql-font .ql-picker-item[data-value="Roboto"]::before
  {
      font-family: "Roboto", cursive;
      content: "Roboto";
  }
  /* Set content font-families */
  .ql-font-Raleway {
    font-family: "Raleway";
  }
  .ql-font-Roboto {
    font-family: "Roboto";
  }
  /* We do not set Courier since it is the default font */
  

  

  

  
